.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* style.css */

.gradient-bg {
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}
/* shared */
.sideMargin {
  margin: 50px 200px 120px 200px;
}
/* banner */
.banner-bg-img {
  background-image: url(./assets/hero-bg.png);
}

/* about */


.about-card {
  width: 240px;
  height: 96px;
}
.card-about{
  font-weight: 600;
}
/* choose */
/* .choose {
  max-width: 1600px;
  height: 1121px;
} */
.choose-wave {
  padding: 50px 200px 120px 200px;
}
